*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

h1, h3, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

img{
  display: block;
  margin: auto;
  max-width: 950px;
}

a:hover{
    text-decoration: none;
}

.cursor{
  cursor: pointer;
}

.m-auto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper{
  height: 100%;
  width: 100%;
}

.navbar{
  min-height: 50px;
  border-bottom: 2px solid silver;
  background-color: white;
}

.login-main{
  min-height: 500px;
}

.login-footer{
  position: static;
  bottom: 0;
  height: 40%;
  border-top: 2px solid #E59F21;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.cursor-point{
  cursor: pointer;
}

.downloadables{
  display: block;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 7px;
  min-width: 85%;
}

.downloadables:hover{
  background-color: #F5F5F5;
}

.spacer{
  height: 5px;
}

.jumbotron{
  min-width: 250px;
  padding: 25px 20px;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}
